# Titanic: Machine Learning from Disaster

I will apply tools of machine learning to predict which passengers survived the tragety of the sinking of the Titanic.

Idea and data taken from 
https://www.kaggle.com/c/titanic/overview

In [5]:
## Import all standard dependency modules 
import numpy as mp
import pandas as pd
import matplotlib.pyplot as plt

# Import necessary modules
from sklearn import model_selection
from sklearn.model_selection import train_test_split # not sure if I'll need this one, since we are given test and train datasets
from sklearn.model_selection import KFold
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import LeavePOut
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import StratifiedFold
from sklearn.metrics import mean_squared_error


from sklearn import datasets

In [6]:
dfTrain = pd.read_csv("train.csv")
dfTest = pd.read_csv("test.csv")
#dfTrain # uncomment to look at dataframe

In [24]:
# Exploration time. What are the column names in our data?
for i in range(len(list(dfTrain))):
    print(list(dfTrain)[i])

print('\n',len(list(dfTrain)), "columns")

PassengerId
Survived
Pclass
Name
Sex
Age
SibSp
Parch
Ticket
Fare
Cabin
Embarked

 12 columns

PassengerId and Survived are not features but rather a given int to each passenger and survived is a binary value, distinguishing whether or not the passenger survived.

In [25]:
# Take a look into the common features of the dataset
dfTrain.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292